/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  font-family: "Domaine Sans Text Light", sans-serif;
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}