/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  margin: 0 auto;
  max-width: 900px;

  &__title {
    font-size: double($font-size-tiny);
    //margin-bottom: $base-spacing-unit;
    margin-bottom: 0;
    font-family: "Tan Aegean";

    @include mq($from: tablet) {
      font-size: double($font-size-small);
    }
  }


  &__date {
    position: relative;
    //padding-top: $base-spacing-unit;
    display: block;
    //text-align: center;
    margin-bottom: 32px;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    line-height: $line-height-small;
    color: $color-text;
    font-family: "Domaine Sans Text Light";

    //&:after {
    //  position: absolute;
    //  content: '';
    //  top: 0;
    //  left: 50%;
    //  height: 1px;
    //  width: quadruple($base-spacing-unit);
    //  background: $bg-color-gray;
    //  transform: translateX(-50%);
    //}
  }

  &__image {
    margin: 0 auto $base-spacing-unit;
  }
}